* {
  margin: 0
}

.map {
  height: 100vh;
}

video {
  position: relative;
  margin: 0 auto;
  top: 50%;
  transform: translateY(250%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.blue {
  color: #0CA1E0;
}

.onHover:hover {
  color: #0CA1E0;
  cursor: pointer;
}